html, body, div,
h1, h2, h3, h4, h5, h6,
ul, li, ol, ul, p, img, input {
  margin:0;
  padding:0;
  outline: none;
  box-sizing: border-box;
}
body {
    /* min-width: 600px; */
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #222;
    overflow-x: hidden;
  }
  div {
    display: flex;
    box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
    display: block
}
button {
  outline: none;
}

.root {
  flex:1
}